<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :account_name %>
  </div>

  <div class="field">
    <%= form.label :accountnumber %>
    <%= form.text_field :accountnumber, id: :account_accountnumber %>
  </div>

  <div class="field">
    <%= form.label :billingcity %>
    <%= form.text_field :billingcity, id: :account_billingcity %>
  </div>

  <div class="field">
    <%= form.label :sfid %>
    <%= form.text_field :sfid, id: :account_sfid %>
  </div>

  <div class="field">
    <%= form.label :isdeleted %>
    <%= form.check_box :isdeleted, id: :account_isdeleted %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
